
<p id="Guide"
    style="left: 100px; top: 1600px; font-family: MyFont;" 
    >Go Up To Discover The Portfolio</p>

<div id="Character" 
    [ngStyle]="{
        'left': xpos + 'px', 
        'top': ypos + 'px', 
        'transform': 'scaleX(' + scale + ') rotate(' + -rotangle + 'deg)', 
        'background-image': 'url(\'assets/' + sprite + '\')',
    }"
    [ngClass]="getAnimationClass()">
</div>
<div id="Message"
    [ngStyle]="{ 
        'width': MessageWidth + 'px',
        'left' : (xpos + 180) + 'px', 
        'top' : (ypos - 10) + 'px', 
        'background-image': 'url(\'assets/' + messageimg + '\')',
    }"
    >
</div>
<div id="Container"
    [ngStyle]="{
        'left' : (xpos + 230) - ((scale === 1) ? 500 : 0) + 'px', 
        'top' : (ypos - 200) + 'px',
        'width': InfoWidth*8 + 'px',
        'height': InfoHeight*7 +'px',
        'visibility': (seeinfo ? 'visible' : 'hidden'), 
    }"
>
    <div id="MyDesc"
    [ngStyle]="{
        'width': InfoWidth*6 + 'px',
        'visibility': (seeinfo ? 'visible' : 'hidden'),
        'left' : 0 + 'px', 
        'top' : 140 + 'px',
    }"
    >
        &nbsp;<span style="color: lightblue;">Khaled&nbsp;Gassara</span> <br>
        <span>Computer&nbsp;Science&nbsp;Student</span>
        <p style="color: azure; font-size: 13px;">
            Hello&nbsp;I'm&nbsp;Khaled&nbsp;Gassara,&nbsp;a <br>
            third-year&nbsp;student&nbsp;at&nbsp;the&nbsp;National <br>
            School&nbsp;of&nbsp;Computer&nbsp;Science&nbsp;(ENSI),<br>Tunisia.<br><br>
            <a style="text-decoration: none; color: antiquewhite;">&nbsp;&nbsp;Tel&nbsp;:&nbsp;+216&nbsp;50&nbsp;424&nbsp;900</a>
        </p>
    </div>

    <div id="MyImg"    
        [ngStyle]="{
            'width': InfoWidth*2.56 + 'px',
            'height': InfoHeight*2.56 +'px',
            'visibility': (seeinfo ? 'visible' : 'hidden'),
            'left' : 0 + 'px', 
            'top' : 0 + 'px',
        }"
        >

    </div>

    <a href="https://www.linkedin.com/in/khaled-gassara/" id="Info"
        (mouseover)="infoselected = 'Linkedin'"
        [ngStyle]="{ 
            'width': InfoWidth + ((infoselected === 'Linkedin') ? 2 : 0) + 'px',
            'height': InfoHeight + ((infoselected === 'Linkedin') ? 2 : 0) +'px',
            'left' : 350 - ((scale === 1) ? 430 : 0) + 'px', 
            'top' : 0 + 'px',
            'visibility': (seeinfo ? 'visible' : 'hidden'),
            'border': ((infoselected === 'Linkedin') ? 4 : 0) + 'px solid white',
        }"
        style="background-image: url(../../assets/LinkedinLogo.png);"
        target="_blank"
    >
    </a>

    <a href="https://www.facebook.com/khaledgassara55" id="Info"
        (mouseover)="infoselected = 'Facebook'"
        [ngStyle]="{ 
            'width': InfoWidth + ((infoselected === 'Facebook') ? 2 : 0) + 'px',
            'height': InfoHeight + ((infoselected === 'Facebook') ? 2 : 0) +'px',
            'left' : 350 - ((scale === 1) ? 430 : 0) + 'px', 
            'top' : 70 + 'px',
            'visibility': (seeinfo ? 'visible' : 'hidden'),
            'border': ((infoselected === 'Facebook') ? 4 : 0) + 'px solid white',
        }"
        style="background-image: url(../../assets/FacebookLogo.png);"
        target="_blank"
    >
    </a>

    <a href="https://codeforces.com/profile/KhaledGs" id="Info"
        (mouseover)="infoselected = 'CodeForces'"
        [ngStyle]="{ 
            'width': InfoWidth + ((infoselected === 'CodeForces') ? 2 : 0) + 'px',
            'height': InfoHeight + ((infoselected === 'CodeForces') ? 2 : 0) + 'px',
            'left' : 350 - ((scale === 1) ? 430 : 0) + 'px', 
            'top' : 140 + 'px',
            'visibility': (seeinfo ? 'visible' : 'hidden'),
            'border': ((infoselected === 'CodeForces') ? 4 : 0) + 'px solid white',
        }"
        style="background-image: url(../../assets/CodeForcesLogo.png);"
        target="_blank"
    >
    </a>

    <a href="https://github.com/KhaledGs5" id="Info"
        (mouseover)="infoselected = 'Github'"
        [ngStyle]="{ 
            'width': InfoWidth + ((infoselected === 'Github') ? 2 : 0) + 'px',
            'height': InfoHeight + ((infoselected === 'Github') ? 2 : 0) + 'px',
            'left' : 350 - ((scale === 1) ? 430 : 0) + 'px', 
            'top' : 210 + 'px',
            'visibility': (seeinfo ? 'visible' : 'hidden'),
            'border': ((infoselected === 'Github') ? 4 : 0) + 'px solid white',
        }"
        style="background-image: url(../../assets/GithubLogo.png);"
        target="_blank"
    >
    </a>

    <div id="Info"
    (mouseover)="infoselected = 'Gmail'"
    [ngStyle]="{ 
        'width': InfoWidth + ((infoselected === 'Gmail') ? 2 : 0) + 'px',
        'height': InfoHeight + ((infoselected === 'Gmail') ? 2 : 0) + 'px',
        'left' : 350 - ((scale === 1) ? 430 : 0) + 'px', 
        'top' : 280 + 'px',
        'visibility': (seeinfo ? 'visible' : 'hidden'),
        'border': ((infoselected === 'Gmail') ? 4 : 0) + 'px solid white',
    }"
    style="background-image: url(../../assets/GmailLogo.png); opacity: 0.9;"
    target="_blank"
    >
    </div>
    <div id="Gmail" style="top: 288px;"
        [ngStyle]="{
            'left': 420 - ((scale === 1) ? 750 : 0) + 'px',
            'width': (showEmail ? 210 : 0) + 'px',
            'visibility': ((seeinfo && showEmail) ? 'visible' : 'hidden'),
        }"
    >
    khaled.gassara&#64;ensi-uma.tn
    </div>

    <p id="InfoMessage"
        [ngStyle]="{ 
            'visibility': (seeinfo ? 'visible' : 'hidden'),
        }"
        >
        Use&nbsp;↑&nbsp;and&nbsp;↓<br>
        to&nbsp;navigate&nbsp;between<br>
        options&nbsp;and&nbsp;then<br>
        press&nbsp;enter.
    </p>
</div>


<!-- Palnetss -->



<div class="Planet" id="Skills"
    style="background-image: url(../../assets/Skills.png);
       font-size: 35px;
       font-weight: bold;
       color: rgb(172, 205, 209);
       font-family: MyFont;
       top: 1000px;
       left: 500px;
       text-shadow:
        -2px -2px 0 #000, 
        2px -2px 0 #000,  
        -2px 2px 0 #000,  
        2px 2px 0 #000;
    "
    [ngStyle]="{
        'width': (inSkillsPlanet ? '430px' : '400px'),
        'height': (inSkillsPlanet ? '430px' : '400px'),
        'opacity': (inSkillsPlanet ? '1' : '0.5'),
    }"
>
Skills
<p id="planetMessage" ></p>
</div>


<div class="Planet" id="Education"
    style="background-image: url(../../assets/Education.png);
       font-size: 35px;
       font-weight: bold;
       color: rgb(172, 205, 209);
       font-family: MyFont;
       top: 200px;
       left: 1800px;
       text-shadow:
        -2px -2px 0 #000, 
        2px -2px 0 #000,  
        -2px 2px 0 #000,  
        2px 2px 0 #000;
       z-index: -1;
    "
    [ngStyle]="{
        'width': (inEductPlanet ? '430px' : '400px'),
        'height': (inEductPlanet ? '430px' : '400px'),
        'opacity': (inEductPlanet ? '1' : '0.5'),
    }"
>
Education
<p id="planetMessage" ></p>
</div>

<div class="Planet" id="Experience"
    style="background-image: url(../../assets/Experience.png);
       font-size: 35px;
       font-weight: bold;
       color: rgb(172, 205, 209);
       font-family: MyFont;
       top: 200px;
       left: 500px;
       text-shadow:
        -2px -2px 0 #000, 
        2px -2px 0 #000,  
        -2px 2px 0 #000,  
        2px 2px 0 #000;
       z-index: -1;
    "
    [ngStyle]="{
        'width': (inExpPlanet ? '430px' : '400px'),
        'height': (inExpPlanet ? '430px' : '400px'),
        'opacity': (inExpPlanet ? '1' : '0.5'),
    }"
>
Experience
<p id="planetMessage" ></p>
</div>

<div class="Planet" id="ProjectAnimation"
    style="background-image: url(../../assets/ProjectPlanetSeq.png);
       font-size: 35px;
       font-weight: bold;
       color: rgb(172, 205, 209);
       font-family: MyFont;
       top: 1000px;
       left: 1800px;
       text-shadow:
        -2px -2px 0 #000, 
        2px -2px 0 #000,  
        -2px 2px 0 #000,  
        2px 2px 0 #000;
        z-index: -1;
        background-size: cover;
    "
    [ngStyle]="{
        'width': '480px',
        'height': '480px',
        'opacity': (inProjectPlanet ? '1' : '0.5'),
    }"
>
Projects
<p id="planetMessage" ></p>
</div>


<!-- Palnets Kidss -->


<div *ngFor="let exp of MyExperience; let i = index" 
    id="ExpKid"
    [ngStyle]="{
        'width': '150px',
        'height': '150px',
        'top' : (discoverExpPlanet ? (calculatePosition(60, 350, 650,350,i).y) + 'px' : '350px'),
        'left' : (discoverExpPlanet ? (calculatePosition(60, 350, 650,350,i).x) + 'px' : '650px'),
        'opacity': (discoverExpPlanet ? '1' : '0.1'),
    }"
    style="
        background-image: url(../../assets/ExperienceKid.png);
        background-size: cover;
        position: absolute;
        text-align: center;
        font-size: 10px;
        transition: all 0.8s;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    ">
    <img [src]="exp.image" [alt]="exp.name" style="width: 80%; height: 50%; object-fit: contain; z-index: 1;">
    <p style="font-size: 12px; font-weight: bold; font-family: MyFont; color: aliceblue; margin-top: -5px; width: 80%; height: 50%;">{{ exp.desc }}</p>
</div>





<div *ngFor="let educt of MyEducation; let i = index" 
    id="EductKid"
    [ngStyle]="{
        'width': '100px',
        'height': '100px',
        'top' : (discoverEductPlanet ? (calculatePosition(-40 + i*170, 280, 1950,350,1).y) + 'px' : '350px'),
        'left' : (discoverEductPlanet ? (calculatePosition(-40 + i*170, 280, 1950,350,1).x) + 'px' : '1950px'),
        'opacity': (discoverEductPlanet ? '1' : '0.1'),
    }"
    style="
        background-image: url(../../assets/EducationKid.png);
        background-size: cover;
        background-position: center;
        position: absolute;
        text-align: center;
        font-size: 10px;
        transition: all 0.8s;
        align-items: center;
        display: flex;
        justify-content: center;
    ">
    <img [src]="educt.image" [alt]="educt.name" style="width: 100%; height: 100%; object-fit: contain; z-index: 1;">
</div>



<div *ngFor="let skill of MySkills; let i = index" 
    [ngStyle]="{
        'width': '100px',
        'height': '100px',
        'top' : (discoverSkillsPlanet ? (calculatePosition(25, 300, 650,1150,i).y) + 'px' : '1150px'),
        'left' : (discoverSkillsPlanet ? (calculatePosition(25, 300, 650,1150,i).x) + 'px' : '650px'),
        'opacity': (discoverSkillsPlanet ? '1' : '0.1'),
    }"
    style="
        background-image: url(../../assets/SkillsKid.png);
        background-size: cover;
        background-position: center;
        position: absolute;
        text-align: center;
        font-size: 10px;
        transition: all 0.8s;
        align-items: center;
        display: flex;
        justify-content: center;
    ">
    <img [src]="skill.image" [alt]="skill.name" style="width: 100%; height: 100%; object-fit: contain;">
</div>



<div *ngFor="let project of MyProjects;" 
    [ngStyle]="{
        'width': (discoverProjectPlanet ? '100px' : '35px'),
        'height': (discoverProjectPlanet ? '100px' : '35px'),
        'top' : (discoverProjectPlanet ? (calculatePosition(project.angle, 300, 2015,1215,project.index).y) + 'px' : '1215px'),
        'left' : (discoverProjectPlanet ? (calculatePosition(project.angle, 300, 2015,1215,project.index).x) + 'px' : '2015px'),
        'opacity': (discoverProjectPlanet ? '1' : '0'),
        'transition': discoverProjectPlanet ? 'opacity 1.5s ease-in, left 0.8s, top 0.8s, width 1s ease-in, height 1s ease-in' : 'opacity 0.8s ease-out,left 0.8s, top 0.8s, width 1s ease-out, height 1s ease-out',
    }"
    style="
        background-image: url(../../assets/ProjectKid.png);
        background-size: cover;
        background-position: center;
        position: absolute;
        text-align: center;
        font-size: 10px;
        align-items: center;
        display: flex;
        justify-content: center;
    ">
    <img [src]="project.image" [alt]="project.name" style="width: 100%; height: 100%; object-fit: contain;">
</div>



<!-- Ground -->


<div class="Ground">
</div>
<div class="Ground" id="Grd1">
</div>
<div class="Ground" id="Grd2">
</div>



