.Greeting_Cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: auto;
    width: 100vw;
}

#Greeting {
    font-size: 50px;
    color: rgb(168, 127, 77);
}

#Character {
    position: relative;
    height: 300px;
    width: 300px;
    background: url("E:/Portfolio/Portfolio/src/assets/WalkSeq.png");
    background-size: 4000% auto; 
}

.animate {
    animation: animateChar 2.3s steps(45) infinite;
}

@keyframes animateChar {
    0% {
        background-position: 0px 0px;
    }
    100% {
        background-position: -60000px 0px;
    }
}
