.Greeting_Cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: auto;
    width: 100vw;
}

#Greeting {
    font-size: 50px;
    color: rgb(168, 127, 77);
}

#Character {
    position: relative;
    height: 300px;
    width: 300px;
    background-size: 88% auto; 
    transition: transform 0.1s ease;
}


.WalkAnimation {
    animation: Walk 2.3s steps(45) forwards;
}

@keyframes Walk {
    0% {
        background-position: 0px 0px;
    }
    100% {
        background-position: -60000px 0px;
    }
}

.FlyAnimation {
    animation: Fly 0.2s steps(10) forwards;
}
  
@keyframes Fly {
    0% {
      background-position: 0px 0px;
    }
    100% {
      background-position: -2700px 0px;
    }
}

.FlynFlameAnimation{
    animation: FlyandFlame 0.2s steps(16) infinite; 
}

@keyframes FlyandFlame {
    0% {
      background-position: 0px 0px;
    }
    100% {
      background-position: -4320px 0px;
    }
}
